In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-04-04 20:45:31,22.0752,-159.3190,78.78,75,40,16.11
1,1,Lebu,CL,2022-04-04 20:45:31,-37.6167,-73.6500,57.61,74,42,17.00
2,2,Georgetown,MY,2022-04-04 20:43:45,5.4112,100.3354,78.73,93,20,8.05
3,3,Bethel,US,2022-04-04 20:45:32,41.3712,-73.4140,56.01,43,20,11.50
4,4,Bonavista,CA,2022-04-04 20:45:32,48.6499,-53.1147,35.28,81,96,11.92

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds  = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind  Speed
locations = city_data_df[["Lat", "Lng"]]
wind   = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-04-04 20:45:31,22.0752,-159.3190,78.78,75,40,16.11
2,2,Georgetown,MY,2022-04-04 20:43:45,5.4112,100.3354,78.73,93,20,8.05
5,5,Palasa,IN,2022-04-04 20:45:32,18.7667,84.4167,75.92,95,24,7.76
6,6,Inhambane,MZ,2022-04-04 20:45:32,-23.8650,35.3833,75.27,63,2,9.53
13,13,Bambous Virieux,MU,2022-04-04 20:45:33,-20.3428,57.7575,79.21,89,75,9.22
17,17,Puerto Ayora,EC,2022-04-04 20:45:34,-0.7393,-90.3518,82.36,89,64,5.99
18,18,Kavieng,PG,2022-04-04 20:45:34,-2.5744,150.7967,80.76,81,100,6.64
21,21,Milledgeville,US,2022-04-04 20:45:35,33.0801,-83.2321,80.10,30,0,0.00
22,22,Ouadda,CF,2022-04-04 20:45:35,8.0777,22.4007,80.35,42,84,5.66
29,29,Rikitea,PF,2022-04-04 20:45:36,-23.1203,-134.9692,78.19,60,6,12.46

In [12]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Kapaa      US     78.78  22.0752 -159.3190
2        Georgetown      MY     78.73   5.4112  100.3354
5            Palasa      IN     75.92  18.7667   84.4167
6         Inhambane      MZ     75.27 -23.8650   35.3833
13  Bambous Virieux      MU     79.21 -20.3428   57.7575
17     Puerto Ayora      EC     82.36  -0.7393  -90.3518
18          Kavieng      PG     80.76  -2.5744  150.7967
21    Milledgeville      US     80.10  33.0801  -83.2321
22           Ouadda      CF     80.35   8.0777   22.4007
29          Rikitea      PF     78.19 -23.1203 -134.9692

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # print(f'Index:{index}, Row:{row}')
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")

Hotel not found... skipping., index:22
Hotel not found... skipping., index:39
Hotel not found... skipping., index:103
Hotel not found... skipping., index:142
Hotel not found... skipping., index:176
Hotel not found... skipping., index:213
Hotel not found... skipping., index:276
Hotel not found... skipping., index:315
Hotel not found... skipping., index:342
Hotel not found... skipping., index:394
Hotel not found... skipping., index:443

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang
5,Palasa,IN,75.92,18.7667,84.4167,Balaji tifen & meals veg & non veg hotel
6,Inhambane,MZ,75.27,-23.8650,35.3833,Oceano
13,Bambous Virieux,MU,79.21,-20.3428,57.7575,Casa Tia Villa
17,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
18,Kavieng,PG,80.76,-2.5744,150.7967,Nusa Island Retreat
21,Milledgeville,US,80.10,33.0801,-83.2321,Hampton Inn Milledgeville
22,Ouadda,CF,80.35,8.0777,22.4007,
29,Rikitea,PF,78.19,-23.1203,-134.9692,People ThankYou

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# hotel marker with names
# marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))